/* Dark and light mode background colors */
.bg-light {
    background-color: #00a2ff; 
    color: #000000;
}

.bg-dark {
    background-color: #38bdf8;
}

/* Layout and typography */
footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 24px 16px;
}

@media (min-width: 768px) {
    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

footer .section-title {
    margin-bottom: 16px;
    font-size: 0.975rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}

footer .section-links a {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    color: #2d3b3c; 
}

footer .section-links a:hover {
    color: #10adc9; 
}

footer .section-links a.active   {
    color: #10adc9; 
}
footer .text-center {
    background-color: #447e8843;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Even spacing */
}

footer .text-gray-400 {
    color: #94a3b8;
}

/* Social media icon styling */
footer .social-icons {
    display: flex;
    gap: 36px;
}

footer .social-icons a{
    font-size: larger;
    color: #94a3b8;
    transition: color 0.2s;
}

footer .social-icons a:hover {
    color: #000000; 
}
/* Media query for small screens */
@media (max-width: 600px) {
    footer .text-center {
        flex-direction: column; /* Stacks elements vertically on small screens */
        align-items: center;
        gap: 20px;
    }
}