/* Banner card styles */
.single-banner {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .single-banner img {
    width: 100%;
    height: auto; 
  }
  
  .banner-card {
    max-height: 450px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
  }
  
  .banner-content-33-2 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
  }

  .banner-content-33-2 a {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  .banner-content-33-2 h4 {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  

  
  .banner-content-33-2 a:hover {
    background-color: #e55e4b; /* Darker shade on hover */
  }
  
