/* HeroSlider.css */
.slider-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-color: #111;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    transition: all 0s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
  }
  
  .slide.active {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slide-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slide-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    line-height: 1.2;
  }
/* Default Styles */
.slide-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s ease-in-out;
  transition-delay: 100ms;
}

.slide-subtitle {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s ease-in-out;
  transition-delay: 200ms;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .slide-title {
    font-size: 32px; /* Smaller font */
    margin-bottom: 0.5rem; /* Less spacing */
    line-height: 1.3; /* Adjusted line height */
  }

  .slide-subtitle {
    font-size: 20px; /* Smaller font */
    margin-bottom: 10px; /* Less spacing */
    line-height: 1.3; /* Adjusted line height */
  }
}

  .slide-button {
    padding: 0.75rem 2rem;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .slide-button:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
  }
  
  .indicators {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }
  
  .indicator {
    width: 5px;
    height: 5px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .indicator.active {
    width: 2rem;
    background-color: white;
  }