/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e;
  }
  
  .whatsapp-button svg {
    color: white;
  }
  