/* index.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */


.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

.whatsapp-button svg {
  color: white;
}
.product-img img {
  height: auto;
  height: 370px;
  object-fit: cover;
}


.product-img {
  align-items: center;
  justify-content: center;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.blog-card {
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card-image {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.blog-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.favorite-btn i {
  font-size: 18px;
  color: #888;
}

.favorite-btn:hover i {
  color: red;
}

.blog-card-content {
  padding: 15px;
  text-align: left;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.blog-description {
  font-size: 14px;
  color: #555;
  margin: 8px 0;
}

.read-more-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: #002147;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.read-more-btn i {
  margin: auto;
}

.read-more-btn:hover {
  background-color: #0044cc;
}
