/* General styles for cards */
.product-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    min-width: 800px;
  }
  .product-card img{
    height: 350px;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  .product-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  }
  
  .product-description {
    color: #777;
    font-size: 0.9rem;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    /* color: #00f7ff; */
    margin-bottom: 20px;
  }
  .buttons{
     margin-top: 20px;
  }
  .icon-btn {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .icon-btn:hover {
    background-color: #00f7ff;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  /* Custom button styles */
  .btn-info {
    background-color: #00f7ff;
    border-color: #00f7ff;
  }
  
  .btn-info:hover {
    background-color: #00c7d4;
    border-color: #00c7d4;
  }
  
  .btn-danger {
    background-color: red;
    border-color: red;
  }
  
  .btn-danger:hover {
    background-color: #d20000;
    border-color: #d20000;
  }
  
  /* Responsiveness */
  @media (max-width: 1200px) {
    .product-card {
      max-width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .product-card {
      max-width: 100%;
    }
  
    .icon-btn {
      font-size: 1rem;
    }
  
    .price {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .product-card {
      margin-bottom: 1rem;
    }
  
    .price {
      font-size: 1rem;
    }
  }
  